<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.arnoldclark.com/">Arnold Clark</a>
    sample application.&emsp;
    <%= link_to "Sign up now!", signup_path, class: "btn btn-default" %>
  </h2><br><br>

  <%= form_for(:carSearch, url: carsearch_path) do |f| %>

    <div class="container">
      <div class="col-sm-2">
        <%= f.label :make, "Make:" %>
        <%= f.collection_select(:make, Vehicle.select(:make).distinct, :make, :make, {prompt: "All makes"}, {class: "form-control"}) %>
      </div>

      <div class="col-sm-2">
	    <%= f.label :model, "Model:" %>
	    <%= f.collection_select(:model, Vehicle.select(:model).distinct, :model, :model, {prompt: "All models"}, {class: "form-control"}) %>
      </div>

      <div class="col-sm-2">
      <%= f.label :web_name, "Branch:" %>
      <%= f.collection_select(:web_name, Branch.select(:web_name).distinct, :web_name, :web_name, {prompt: "All branches"}, {class: "form-control"}) %>
      </div>
 
      <div class="col-sm-2">
	    <%= f.label :minprice, "Minimum price(£):" %>
	    <%= f.number_field :minprice, min: 0, value: 0, class: 'form-control' %>
      </div>
  
      <div class="col-sm-2">
        <%= f.label :maxprice, "Maximum price(£):" %>
        <%= f.number_field :maxprice, min: 0, value: 10000000, class: 'form-control' %>
      </div>

      <div class="col-sm-2"><br>
        <%= f.submit "Search Cars!", class: "btn btn-lg btn-primary" %>
      </div>
    </div>

  <% end %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<%= link_to image_tag("AClarkLogo.jpg", alt: "Arnold Clark logo", :size => '110x110'), 'https://www.arnoldclark.com/' %>